# **CNN for Regression**

**Importing Libraries For CNN_Regression**

In [1]:
import pandas as pd
import numpy as np

**Importing the Dataset**

In [14]:
# load dataset
dataset = pd.read_csv('petrol_consumption.csv')
dataset.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

**Feature Selection**

In [15]:
X = dataset.drop('Petrol_Consumption', axis=1)
y = dataset['Petrol_Consumption']

**Splitting Data**

In [16]:
from sklearn.model_selection import train_test_split 
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

**Training and Predictions**

In [17]:
from sklearn.neural_network import MLPRegressor
model = MLPRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

**Evaluating the Algorithm**

In [18]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 137.7236524388707
Mean Squared Error: 27212.003744736463
Root Mean Squared Error: 164.96061270720494